.wrapper {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 600px;
  height: 700px;
  position: relative;
  display: grid;
  grid-template-rows: 100px auto;
}

.wrapper h2 {
  grid-row: 1 / span 1;
  place-self: center;
}

.wrapper img {
  width: 100px;
  height: auto;
}

.images {
  position: relative;
  top: 0;
  left: 0;
  height: 600px;
  width: 600px;
  display: grid;
  grid-gap: 10px;
}
/* ------------------------------ */
/* Define styles for each number  */
/*          of Pokemon            */
/* ------------------------------ */
.images._1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1 */
.images._1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.images._1 img {
  width: 200px;
  height: auto;
  place-self: center;
}

.images._1 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

/* 2 */
.images._2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.images._2 img {
  width: 150px;
  height: auto;
  place-self: center;
}

.images._2 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._2 > .img__2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

/* 3 */
.images._3 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.images._3 img {
  width: 120px;
  height: auto;
  place-self: center;
}

.images._3 > .img__1 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._3 > .img__2 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._3 > .img__3 {
  grid-area: 3 / 4 / span 1 / span 1;
}

/* 4 */
.images._4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.images._4 img {
  width: 150px;
  height: auto;
  place-self: center;
}

.images._4 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._4 > .img__2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._4 > .img__3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._4 > .img__4 {
  grid-area: 3 / 3 / span 1 / span 1;
}

/* 5 */
.images._5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.images._5 img {
  width: 120px;
  height: auto;
  place-self: center;
}

.images._5 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._5 > .img__2 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.images._5 > .img__3 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.images._5 > .img__4 {
  grid-area: 4 / 2 / span 1 / span 1;
}

.images._5 > .img__5 {
  grid-area: 4 / 4 / span 1 / span 1;
}

/* 6 */
.images._6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.images._6 img {
  width: 120px;
  height: auto;
  /* max-height: ; */
  place-self: center;
}

.images._6 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._6 > .img__2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._6 > .img__3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._6 > .img__4 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.images._6 > .img__5 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.images._6 > .img__6 {
  grid-area: 3 / 4 / span 1 / span 1;
}

/* 7 */
.images._7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.images._7 img {
  width: 100px;
  height: auto;
  /* max-height: ; */
  place-self: center;
}

.images._7 > .img__1 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._7 > .img__2 {
  grid-area: 2 / 5 / span 1 / span 1;
}

.images._7 > .img__3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._7 > .img__4 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.images._7 > .img__5 {
  grid-area: 3 / 6 / span 1 / span 1;
}

.images._7 > .img__6 {
  grid-area: 4 / 3 / span 1 / span 1;
}

.images._7 > .img__7 {
  grid-area: 4 / 5 / span 1 / span 1;
}

/* 8 */
.images._8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.images._8 img {
  width: 100px;
  height: auto;
  /* max-height: ; */
  place-self: center;
}

.images._8 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._8 > .img__2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._8 > .img__3 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.images._8 > .img__4 {
  grid-area: 2 / 5 / span 1 / span 1;
}

.images._8 > .img__5 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._8 > .img__6 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.images._8 > .img__7 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.images._8 > .img__8 {
  grid-area: 3 / 5 / span 1 / span 1;
}

/* 9 */
.images._9 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.images._9 img {
  width: 120px;
  height: auto;
  /* max-height: ; */
  place-self: center;
}

.images._9 > .img__1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.images._9 > .img__2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._9 > .img__3 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.images._9 > .img__4 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._9 > .img__5 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.images._9 > .img__6 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.images._9 > .img__7 {
  grid-area: 4 / 2 / span 1 / span 1;
}

.images._9 > .img__8 {
  grid-area: 4 / 3 / span 1 / span 1;
}

.images._9 > .img__9 {
  grid-area: 4 / 4 / span 1 / span 1;
}

/* 10 */
.images._10 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.images._10 img {
  width: 66px;
  height: auto;
  /* max-height: ; */
  place-self: center;
}

.images._10 > .img__1 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.images._10 > .img__2 {
  grid-area: 2 / 5 / span 1 / span 1;
}

.images._10 > .img__3 {
  grid-area: 2 / 7 / span 1 / span 1;
}

.images._10 > .img__4 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.images._10 > .img__5 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.images._10 > .img__6 {
  grid-area: 3 / 6 / span 1 / span 1;
}

.images._10 > .img__7 {
  grid-area: 3 / 8 / span 1 / span 1;
}

.images._10 > .img__8 {
  grid-area: 4 / 3 / span 1 / span 1;
}

.images._10 > .img__9 {
  grid-area: 4 / 5 / span 1 / span 1;
}

.images._10 > .img__10 {
  grid-area: 4 / 7 / span 1 / span 1;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  font-size: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
