.header {
  grid-row: 1;

  background-color: #ee1515;
  padding: 0 20px 0 20px;

  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
}

.header h1 {
  grid-column: 1 / span 1;
  place-self: center;
  margin: 0;
  color: #f0f0f0;
}

.header button {
  grid-column: 5 / span 1;
  margin: 0;
  place-self: center;

  background-color: transparent;
  border: transparent;
}

.nav__button {
  text-decoration: none;
  color: white;

  place-self: center;
}
