:root {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showSprite {
  min-width: 0;
  max-height: 100px;
  width: auto;

  opacity: 1;
}
