.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 800px;
  height: 600px;
  background-color: white;
  z-index: 10;
  opacity: 1;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-rows: 50px auto;
}

.modal h2 {
  grid-row: 1 / span 1;
  place-self: center start;
  margin-left: 10px;
}

.x {
  grid-row: 1 / span 1;
  place-self: center end;
  margin-right: 10px;
}
